@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
    background-color: #D9FF93;
}

.container {
	max-width: 45rem;
	background-repeat: no-repeat;
}

.masthead img {
    width: 40%;   
    padding-left: 150px;    
}

.masthead {
	height: 550px;
}
h1 {
    font-size: 5rem;
    color: #97061F;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Coda Caption', sans-serif;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #97061F;
    font-family: font-family: 'Fjalla One', sans-serif;
}

input[type=text] {
    width: 50%;
    padding: 15px;
    font-size: 1.5rem;
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    text-align: center;
    height: auto;
}

.main button {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 1.5rem;
    width: 54%;
    margin-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li:before {
    content: "\203A  ";
}

ul li {
    text-align: left;
    padding-left: 158px;
    margin: 0.5rem;
    list-style: none;
}

.footer {
    text-align: center;
}

.footer a {
    font-size: 3rem;
    text-decoration: none;
    padding: 20px;
}